<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">{{movie.id}}</h4>
    <p class="card-text">{{movie.title}}</p>
    <div class="image-container">
      <img class="card-img-top" width="200" src="{{movie.poster}}" alt="Card image cap">
    </div>

    <p class="card-text">{{movie.synopsis}}</p>
    <p class="card-text">{{movie.Genres}}</p>
    <p class="card-text">{{movie.year}}</p>
    <p class="card-text">{{movie.director}}</p>
    <p class="card-text">{{movie.actors}}</p>
    <p class="card-text">{{movie.hours}}</p>
    <p class="card-text">{{movie.room}}</p>

  </div>

</div>